<lint-module
    format="1"
    dir="/home/sawyer/StudioProjects/custom_uploader/android/app"
    name=":app"
    type="APP"
    maven="android:app:"
    gradle="7.1.2"
    buildFolder="/tmp/build/app"
    bootClassPath="/opt/android-sdk/platforms/android-33/android.jar:/opt/android-sdk/build-tools/30.0.3/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-33">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
